@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Outfit';
}

body{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d1a2d;
}

.card-container{
    width: 350px;
    height: 600px;
    background-color: #15273f;
    padding: 30px;
    display: flex;
    flex-direction: column;
    color: #fff;
    border-radius: 15px;
}

.card-container .up-side{
    width: 100%;
    height: 300px;
}

.up-side img{
    width: 100%;
    height: 100%;
    border-radius: 15px;

}

.down-side h1 {
    font-size: 25px;
    margin-top: 15px;
}

.letters p {
    color: #3e5371;
}

.price{
    display: flex;
    justify-content: space-between;
    color: #24efee;
    font-weight: 500;
    margin-bottom: 15px;
}

.price .left-side{
    width: 50%;
    display: flex;
    align-items: center;
    
}
.price .right-side p{
    color: #8baad5;
}
.price p {
    font-size: 18px;
    margin-left: 10px;
}
.price  img{
    width: 20px;
   
}

.price .right-side{
    display: flex;
    align-items: center;
}

.credits{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.credits img {
    width: 45px;
    border-radius: 50%;
    margin-right:10px;
}

.credits span{
    color: #d5cd75;
}

